<div class="wrapper"> 
    <div class="container">
        <div class="container_window">
            <h1>Регистрация</h1>
            <p>Already have an Account ? <a class='redirect'href="" routerLink="/authorization" routerLinkActive="active" ariaCurrentWhenActive="page">log in</a></p>
            <form class="container_field" [formGroup]="addFormGroup" (submit)="log(addFormGroup)">
                
                <div class="field">
                        <p>Name</p>
                        <input  class="entry_field" type="text" formControlName="userName">
                        <div class="invalided" *ngIf="addFormGroup.controls['userName'].invalid && addFormGroup.controls['userName'].touched " >Некоректные данные</div>
                </div>
                
                <div class="field">
                    <p>Email</p>
                    <input class="entry_field" type="text" formControlName="userEmail">
                    <div class="invalided" *ngIf="addFormGroup.controls['userEmail'].invalid && addFormGroup.controls['userEmail'].touched" >Некоректные данные</div>
                </div>
                <div class="field">
                    <p>Password</p>
                    <input class="entry_field" type="password" formControlName="userPassword">
                    <div class="invalided" *ngIf="addFormGroup.controls['userPassword'].invalid && addFormGroup.controls['userPassword'].touched " >Некоректные данные</div>
                </div>
                <button [disabled]="addFormGroup.invalid">Регистрация</button>
            </form>
            
        </div>
        
        
    </div>
        
</div>
