<div class="wrapper"> 
    <div class="container">
        <div class="container_window">
            <h1>Регистрация</h1>
            <p>Already have an Account ? <a class='redirect'href="" routerLink="/authorization" routerLinkActive="active" ariaCurrentWhenActive="page">log in</a></p>
            <form class="container_field">
                <div class="field">
                    <p>Name</p>
                    <input class="entry_field" type="text" >
                </div>
                <div class="field">
                    <p>Email</p>
                    <input class="entry_field" type="text">
                </div>
                <div class="field">
                    <p>Password</p>
                    <input class="entry_field" type="text">
                </div>
            </form>
            <div class="button">
                <div class='butoon_text'>
                    Зарегистрироваться
                </div>
            </div>
        </div>
        
        
    </div>
        
</div>
