<h1>Angular navigation</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">home</a>
  <a routerLink="/home/sample" routerLinkActive="active" ariaCurrentWhenActive="page">sample</a>
  <a routerLink="/sample2" routerLinkActive="active" ariaCurrentWhenActive="page">sample2</a>
  <a routerLink="/sample3" routerLinkActive="active" ariaCurrentWhenActive="page">sample3</a>
  <a routerLink="/sample4" routerLinkActive="active" ariaCurrentWhenActive="page">sample4</a>
  <a routerLink="/sample5" routerLinkActive="active" ariaCurrentWhenActive="page">sample5</a>
  <a routerLink="/sample6" routerLinkActive="active" ariaCurrentWhenActive="page">sample6</a>
  <a routerLink="/sample7" routerLinkActive="active" ariaCurrentWhenActive="page">sample7</a>
  <a routerLink="/sample8" routerLinkActive="active" ariaCurrentWhenActive="page">sample8</a>
</nav>
<router-outlet></router-outlet>

