h1{
    text-align: center;
    background-color: white;
    margin: 0;
}
nav{
    text-align: center;
    background-color: white;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
}
a{
    margin-left: 10px;
    text-decoration: none;
}