<h1>Angular navigation</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">home</a>
  <a routerLink="/home/sample" routerLinkActive="active" ariaCurrentWhenActive="page">sample</a>
  <a routerLink="/home/sample2" routerLinkActive="active" ariaCurrentWhenActive="page">sample2</a>
  <a routerLink="/home/sample3" routerLinkActive="active" ariaCurrentWhenActive="page">sample3</a>
  <a routerLink="/home/sample4" routerLinkActive="active" ariaCurrentWhenActive="page">sample4</a>
  <a routerLink="/home/sample5" routerLinkActive="active" ariaCurrentWhenActive="page">sample5</a>
  <a routerLink="/home/sample6" routerLinkActive="active" ariaCurrentWhenActive="page">sample6</a>
  <a routerLink="/home/sample7" routerLinkActive="active" ariaCurrentWhenActive="page">sample7</a>
  <a routerLink="/home/sample8" routerLinkActive="active" ariaCurrentWhenActive="page">sample8</a>
  <a routerLink="/home/table" routerLinkActive="active" ariaCurrentWhenActive="page">table</a>
</nav>
<router-outlet></router-outlet>

