ul{
    display: flex;
    padding: 0;
    margin: auto 0;
    justify-content: center;
}
a{
    border: 1px solid transparent;
    list-style-type: none;
    margin-right: 4px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #F2F2F2;
}
.active{
    background-color:#8F07CF;
    color: white;
}
